html {
  min-height: 100%;
  height:100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  min-height: 100%;
  height:100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  position: absolute;
  background-color: #222222;
}

::-webkit-scrollbar {
    display: none;
}

#plane {
  position: absolute;
}

#follower {
  position: absolute;
  height: 100px;
  width: 100px;
  border-width: 1px;
  border-style: solid;
  border-color: #0000ff;
}

.dot {
  width: 2px;
  height: 2px;
  background-color: #0000ff;
  position: absolute;
  transition-timing-function: ease-in;
}

.star {
  r: 1;
  fill: #dddddd;
  opacity: 0;
}

.starhov {
  pointer-events: visible;
  r: 30;
}

.constellation {
  stroke: #dddddd;
  opacity: 0;
}

.basic-label {
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.linkable {
  cursor: pointer;
}

#name-capsule {
  z-index: 9;
}

#name-slide-box {
  font-family: "Century Gothic";
  position: relative;
  float: center;
  color: #dddddd;
  opacity: 0;
  text-align: center;
}

#name-outline {
  stroke-width: 4px;
  stroke: #dddddd;
  fill: none;
}

#context-menu {
  height: 0px;
  width: 0px;
  overflow: hidden;
  border: 1px solid #777777;
  opacity: 0;
  position: absolute;
  z-index: 10;
}

.context-item {
  font-family: "Arial";
  overflow: hidden;
  border-bottom: 1px solid #777777;
  background-color: rgba(34, 34, 34, 1);
  color: #777777;
}
.context-item:hover{
  background-color: rgba(20, 20, 20, 1);
}
.context-item:click{
  background-color: rgba(0, 0, 0, 1);
}
  
.width-tester {
  font-family: "Arial";
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}

#directory-container {
  position: relative;
  height: 100%;
  pointer-events: none;
  z-index: 8;
}

#directory-separator {
  -webkit-mask-image: linear-gradient(transparent 10%, black 13%, black 87%, transparent 90%);
  position: absolute;
  right: -10%;
  width: 5px;
}

#directory-separator-line {
  stroke: #dddddd;
  stroke-width: 2;
}

.directory-choice-text {
  font-family: "Century Gothic";
  color: #dddddd;
  position: absolute;
  height: auto;
  width: auto;
  white-space: nowrap;
  pointer-events: all;
}

.directory-selector {
  position: absolute;
  top: 0px;
  left: 0px;
}

.directory-selector-line {
  opacity: 1;
  stroke-width: 1.5;
  stroke: #dddddd;
}

#info-container {
  -webkit-mask-image: linear-gradient(transparent 0%, black 3%, black 97%, transparent 100%);
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  right: 0;
  pointer-events: none;
  z-index: 1;
  opacity: 0;
}

.info-container-item {
  position: relative;
  overflow: hidden;
  float: left;
}

.info-container-child {
  color: #aaaaaa;
  text-align: right;
  position: absolute;
  top: 5%;
  width: 85%;
  height: 90%;
}

.info-container-child h1 {
  font-family: "Century Gothic";
}

.info-container-child p {
  font-family: "Arial";
  line-height: 150%;
}

.tooltip {
  pointer-events: all;
  cursor: pointer;
  width: 0px;
}

[data-words]{
  vertical-align: top;
  position: relative;
  display: inline-block;
}
[data-words] > span{
  font-weight: bold;
  pointer-events: none;
  left: 0;
  position: absolute;
  white-space: nowrap;
  height: auto;
  width: auto;
}

#balance-tester {
  font-family: "Arial";
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}

.balance-div {
  position: relative;
  margin-left: auto;
  margin-right: 0;
  height: auto;
  overflow-x: hidden;
}

.balance-div p {
  position: relative;
  top: 0;
  margin: 0 0;
  white-space: nowrap;
}